*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.NtitleAPP{
color: var(--blue, #0E1FCC);
text-align: center;
font-family: Hind;
font-size: 2.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.News{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.NApp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    overflow: hidden;
    background: var(--white, #FFFEFB);
}
.Slider{
    width: 100%;
    height: 50.5rem;
    background: var(--white, #FFFEFB);
    margin: -15px auto 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.slick-dots{
   color: blue !important;
   position: absolute;
   width: 50% ;
    top: 100%;
    left: 25%;
}
.Ncard{
    width: 39.0625rem;
height: 45.3125rem;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
}
.slick-track {
    position: relative;
    top: 0;
    left: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex !important;
    gap: 23px !important;
}
.card-image{
background: var(--white, #FFFEFB);
padding: 3px;
width: 100%;
background-size: cover;
}
.card-image .card-img{
    width: 100%;
    height: 26.5rem;
    object-fit: cover;
    border-radius: 5px;
}
.Ntitle{
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
    margin: 20px;
    gap: 10px;
}
.Nctitle{
    color: var(--yellow, #FB0);
text-align: right;
font-family: Hind;
font-size: 0.875rem;;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.NHtitle{
color: var(--black, #01020D);
text-align: right;
font-family: Hind;
font-size: 1.125rem;;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-right: 23px;
}
.NPargh{
 color: var(--black, #01020D);
text-align: right;
font-family: Hind;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 90%;
position: relative;
right: 0%;
}
.NA{
    flex: 1 0 0;
    color: var(--yellow, #FB0);
display: flex;
gap: 10px;
position: relative;
top: 10%;
left: 5%;
}
.NA a{
    color: var(--yellow, #FB0);
    font-family: Hind;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.Newbtn{
    display: flex;
    width: 10rem;
    height: 3.125rem;
    padding: 0.625rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
border-radius: 0.3125rem;
background: var(--blue, #0E1FCC);
box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.10);
flex: 1 0 0;
color: var(--white, #FFFEFB);
text-align: center;
font-family: Hind;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
    left: 40%;

}

.slick-dots li button::before{
    color: #0E1FCC !important;
    border: 1px #0E1FCC solid;
    border-radius: 50%;
    background-color: #0E1FCC;
}
@media (min-width:300px) and (max-width:600px) {
    .Newbtn{
        left: 31%;
    }
}
 @media (min-width:1000px) {
    .Newbtn{
        left: 46%;
    }
}
 