*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.EleApp{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   width: 100%;
}
.Etitle{
text-align: center;
color: var(--blue, #0E1FCC);
font-family: Hind;
font-size: 2.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.Eimg1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Eimg{
    width: 75.9375rem;
    height: 28.25rem;
    border-radius: 0.3125rem;
   
}
.Elpar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Edesc{
 width: 76rem;;
color: var(--black, #01020D);
text-align: right;
font-family: Hind;
font-size: 1.25rem;;
font-style: normal;
font-weight: 400;
line-height: 201.1%;
}
.ElecH{
color: var(--black, #01020D);
font-family: Hind;
text-align: right;
font-size: 1.25rem;
font-style: normal;
font-weight: 700;
position: relative;
    left: 45%;
line-height: 201.1%;
}
@media (min-width:300px) and (max-width:1100px) {
    .Electricity{
        display: none;
    }
}
@media (min-width:1110px){
.Slide_Electricity{
    display: none;
}
}

.Ecard{
    width: 100%;
    height: 800px;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
}
.Slider1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    overflow: hidden;
    background: var(--white, #FFFEFB);
  
}
.card-img{
    object-fit: cover;
}
.epa{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    width: 100%;
}