*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Etitle{
text-align: center;
color: var(--blue, #0E1FCC);
font-family: Hind;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 50px;
}
.Eimg{
    width: 90%;
height: 452px;
border-radius: 5px;
margin: 40px;
}
.Edesc{
 width: 1216px;
color: var(--black, #01020D);
text-align: right;
font-family: Hind;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 201.1%;
}
.EH{
color: var(--black, #01020D);
font-family: Hind;
text-align: right;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 201.1%;
}
@media (min-width:300px) and (max-width:1100px) {
    .Electricity{
        display: none;
    }
}
@media (min-width:1110px){
.Slide_Electricity{
    display: none;
}
}
@media (min-width:1300px) {
    .Edesc{
        width: 100%;
       color: var(--black, #01020D);
       text-align: right;
       font-family: Hind;
       font-size: 20px;
       font-style: normal;
       font-weight: 400;
       line-height: 201.1%;
       margin-right: 100px;
       }
       .EH{
        width: 100%;
        color: var(--black, #01020D);
        font-family: Hind;
        text-align: right;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 201.1%;
        margin-right: 20px;
        }
    
}
.Ecard{
    margin-top: 50px;
    width: 100%;
    height: 800px;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
margin: 0 auto;
}
.Slider1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    overflow: hidden;
    background: var(--white, #FFFEFB);
    margin: 0 auto;
  
}
.card-img{
    background-size: cover;
}
.epa{
    display: flex;
   margin-right: 50px;
    text-align: right;
    width: 100%;
}