*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.MAtitle{
    color: var(--blue, #0E1FCC);
text-align: center;
margin-top: 50px;
font-family: Hind;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.MAtAPP{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.Mimg{
    width: 200px;
height: 208px;
flex-shrink: 0;
border-radius: 5px;
}
.Mpargh{
    color: var(--black, #01020D);
text-align: center;
font-family: Hind;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 20px;
}
.MATbtn{
    display: flex;
    width: 160px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--blue, #0E1FCC);
    box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.10);
    flex: 1 0 0;
    color: var(--white, #FFFEFB);
    text-align: center;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto;
}
@media screen and (min-width: 300px) {
    .MAtitle{
        color: var(--blue, #0E1FCC);
        text-align: center;
        margin-top: 20px;
        font-family: Hind;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .MAtAPP{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
        margin-top: 20px;
    }
    .Mimg{
        width: 150px;
        height: 156px;
        flex-shrink: 0;
        border-radius: 5px;
    }
    .Mpargh{
        color: var(--black, #01020D);
        text-align: center;
        font-family: Hind;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 10px;
    }
    .MATbtn{
        display: flex;
        width: 120px;
        height: 40px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        gap: 5px;
        flex-shrink: 0;
        border-radius: 5px;
        background: var(--blue, #0E1FCC);
        box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.10);
        flex: 1 0 0;
        color: var(--white, #FFFEFB);
        text-align: center;
        font-family: Hind;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 20px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1230px) {
    .MAtitle{
        color: var(--blue, #0E1FCC);
        text-align: center;
        margin-top: 40px;
        font-family: Hind;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .MAtAPP{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin-top: 40px;
    }
    .Mimg{
        width: 200px;
        height: 208px;
        flex-shrink: 0;
        border-radius: 5px;
    }
    .Mpargh{
        color: var(--black, #01020D);
        text-align: center;
        font-family: Hind;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 20px;
    }
    .MATbtn{
        display: flex;
        width: 160px;
        height: 50px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 5px;
        background: var(--blue, #0E1FCC);
        box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.10);
        flex: 1 0 0;
        color: var(--white, #FFFEFB);
        text-align: center;
        font-family: Hind;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 40px;
    }
}

@media screen and (min-width: 1920px) {
    .MAtitle{
        color: var(--blue, #0E1FCC);
        text-align: center;
        margin-top: 60px;
        font-family: Hind;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .MAtAPP{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;
        margin-top: 60px;
    }
    .Mimg{
        width: 300px;
        height: 312px;
        flex-shrink: 0;
        border-radius: 5px;
    }
    .Mpargh{
        color: var(--black, #01020D);
        text-align: center;
        font-family: Hind;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 30px;
    }
.MATbtn{
        display: flex;
        width: 200px;
        height: 60px;
        padding: 15px;
        justify-content: center;
        align-items: center;
        gap: 15px;
        flex-shrink: 0;
        border-radius: 5px;
        background: var(--blue, #0E1FCC);
        box-shadow: 0px 15px 16px 0px rgba(0, 0,0, 0.10);
        flex: 1 0 0;
        color: var(--white, #FFFEFB);
        text-align: center;
        font-family: Hind;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 60px;
    }
}