*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Footer{
    width: 100%;
height: 33.375rem;;
flex-shrink: 0;
border-radius: 5px 5px 0px 0px;
background: #63646B;
position: relative;
}
.Fotitle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 5%;
}
.FoH1{
    color: var(--white, #FFFEFB);
text-align: center;
font-family: Hind;
font-size:  1.5625rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.FoH2{
    color: var(--white, #FFFEFB);
text-align: center;
font-family: Hind;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.fosvg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--white, #FFFEFB);
    text-align: center;
    font-family: Hind;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.FoP{
    color: var(--white, #FFFEFB);
text-align: right;
font-family: Hind;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.FoHr{
    width: 76rem;
height: 0.125rem;
    opacity: 0.7;
background: rgba(255, 254, 251, 0.50);
position: absolute;
    top: 60%;
    left: 2%;
}
.Svghr{
    position: absolute;
    top: 55%;
    left: 50%;
}
.endfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.focall{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    position: absolute;
    top: 70%;
    left: 10%;
}
.pcal{
    color: var(--white, #FFFEFB);
text-align: right;
font-family: Hind;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
position: absolute;
    top: 70%;
    left: 70%;
}
.pcall{
    color: var(--white, #FFFEFB);
text-align: left;
font-family: Hind;
font-size: 1.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
position: relative;
}

