*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.HComplaints{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
     height: 22.5rem;
    flex-shrink: 0;
    background: linear-gradient(267deg, #2F3BBF 18.6%, rgba(2, 15, 109, 0.00) 115.87%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
}
.comimg{
    width: 28.25rem;
    height: 29rem;
   flex-shrink: 0;  
   position: relative;
   top: -14.5%;
   left: 1%;
}
.comtitile{
color: var(--yellow, #FB0);
text-align: right;
font-family: Hind;
font-size: 2.25rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.comde{
    color: var(--white, #FFFEFB);
text-align: right;
font-family: Hind;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.contant{
    display: flex;
    align-items: center;
    margin-right: 7rem;
}
.Hsvg{
    width: 9.375rem;
    height: 2.77775rem;
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
}
.Down{
    display: flex;
    width: 9.375rem;
    height: 2.77775rem;;
justify-content: center;
align-items: center;
gap:  0.625rem;;
flex-shrink: 0;
border-radius:  0.3125rem;;
background: #FFFEFB;
position: absolute;
left: 80%;

}
.Ptitle{
    color: #000;
text-align: right;
font-family: Hind;
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 15px;
}


@media screen and (min-width: 1920px) {
    .HApp {
        margin-top: 60px;
    }
    .HComplaints {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .comimg {
        width: 28.25rem;
        height: 26rem;
        position: absolute;
        top: 1%;
    }
    .comtitile {
        font-size: 2.25rem;
        font-weight: bold;
        text-align: right;
        position: absolute;
        left: 80%;
        top: 20%;
    }
    .comde {
        font-size: 1.125rem;
        text-align: right;
        position: absolute;
        left: 78%;
    }
    .Hsvg {
        width: 9.375rem;
        height: 2.77775rem;
        display: flex;
        position: absolute;
        left: 75%;
        top: 30%;
    }
}

