*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
     height: 5.625rem;
     flex-shrink: 0;
    background-color: #F7F7F7;
    flex-wrap: wrap;
}
.navbar div{
    margin-right: 50px;
}
.navbar .logo{
    width:200px;
    height: 66px;
    display: flex;
    flex-shrink: 0;
    justify-content:flex-start;

}
.navbar .ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: Hug (887px);
    height: Hug (26.1px);
    margin-top: 20px;
    margin-left: 100px;
    top: 32px;
    left: 50px;
    gap: 15px;
    list-style: none;
    font-family: Hind;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #4D4E56;
    padding-right: 50px;
    flex-wrap: wrap;
}
.navbar .ul .home ,li:hover{
font-family: Hind;
font-size: 18px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
color: #01020D;
}
.navbar .icon{
    flex-shrink: 0;
}
.navbar .nav-btn{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
}
