*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.625rem;
     flex-shrink: 0;
    background-color: #F7F7F7;
    flex-wrap: wrap;
    padding: 1.2rem auto 7.5rem !important;
}
.navbar .logo{
    width: 14.4375rem;
    height: 4.125rem;
    display: flex;
    flex-shrink: 0;
    justify-content:flex-start;
    position: absolute;
    top: 10%;
    left: 80%;

}
.navbar .ul{
    display: flex;
    align-items: center;
    height: 1.63125rem;
    position: relative;
    gap: 31px;
    list-style: none;
    font-family: Hind;
    font-size:  1.125rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0em;
    text-align: center;
    color: #4D4E56;
    margin-bottom: 0rem;
    margin-right: 13rem;
}
.navbar .ul .home ,li:hover{
font-family: Hind;
font-size: 1.125rem;
font-weight: 700;
line-height: normal;
letter-spacing: 0em;
text-align: center;
color: #01020D;
}
.navbar .icon{
    flex-shrink: 0;
}
.navbar .nav-btn{
    padding: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
}
